button {
    margin-left: 1em;
    margin-right: 1em;
}

.modal {
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y:scroll;
}

.show {
    display: block;
}

.dropdown-item.disabled {
    color: grey;
}

.dropdown-menu.dropdown-menu-right{
    right: 0;
    left: auto;
}