<button type="button" class="btn btn-outline-light login" (click)="isShow = true" *ngIf="!isLoggedIn()">Войти</button>

<div class="btn-group" [ngClass]="{'show': dropdownShow}" *ngIf="isLoggedIn()">
    <button class="btn btn-outline-light logout dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" (click)="dropdownShow = !dropdownShow">
      User
    </button>
    <div class="dropdown-menu dropdown-menu-right" [ngClass]="{'show': dropdownShow}" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" >Администрирование</a>
        <a class="dropdown-item disabled" >Профиль</a>
        <a class="dropdown-item" (click)="logout()">Выход</a>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" [ngClass]="{'show': isShow}">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">

            <div class="modal-header">
                <!-- <h4 class="modal-title">Войти</h4> -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'active': activeTab == 'login'}" (click)="activeTab = 'login'">Войти</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" [ngClass]="{'active': activeTab == 'singup'}" (click)="activeTab = 'singup'">Зарегистрироваться</a>
                    </li>
                  </ul>
                <button type="button" class="close" aria-label="Close" (click)="isShow = false">
            <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="modal-body">
                <singup-app *ngIf="activeTab == 'singup'"></singup-app>
                <login-app *ngIf="activeTab == 'login'"></login-app>
            </div>
        </div>
    </div>
</div>