    <div class="content">

        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <label for="email">Электронная почта:</label>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">✉️</span>
                    </div>
                    <input type="email" class="form-control" placeholder="youremail@email.com" formControlName="email">
                </div>

            <label for="password">Пароль:</label>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">✉️</span>
                </div>
                <input type="password" class="form-control" placeholder="password" formControlName="password">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary password-show" [ngClass]="passwordVisible? 'passwd-hidden' : 'passwd-visible'" type="button" (click)="passwordVisible = !passwordVisible"></button>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Войти</button>
            <button type="button" class="btn btn-link">Сбросить пароль</button>
      
        </form>
      
    </div>
