div.content {
    padding: 1em;
}

.btn:disabled {
    cursor: not-allowed;
}

button.passwd-visible {
    width: 2.5em;
    background-image: url('https://cdn0.iconfinder.com/data/icons/user-interface-6/100/ui-05-512.png');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
}

button.passwd-hidden {
    width: 2.5em;
    background-image: url('https://cdn2.iconfinder.com/data/icons/content-and-edition/24/hide-512.png');
    background-size: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
}

.btn.password-show{
    border-color: #CED4DA;
}