<div class="container">
    <form [formGroup]="searchFilterForm">
        <div class="form-row">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Поиск">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary search" type="button"></button>
                </div>
            </div>

            <button class="btn btn-secondary btn-sm btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="isShow = !isShow">
                Расширеный поиск
            </button>

            <div class="collapse" [ngClass]="{'show': isShow}">

                                <label for="geoScale">Географический охват</label>
                                <div class="input-group mb-3">
                                    <select class="form-control" (change)="geoScaleChange()">
                                        <option>Локальный (городской муниципальный)</option>
                                        <option>Региональный (областной, краевой)</option>
                                        <option>Межрегиональный (охват 2-х и более регионов)</option>
                                        <option>Федеральный</option>
                                        <option>Международный</option>
                                    </select>
                                </div>

            </div>
        </div>
    </form>
</div>