<div class="container">
    <form [formGroup]="searchFilterForm">
        <div class="form-row">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Поиск">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary search" type="button" (click)="onSearch()"></button>
                </div>
            </div>

            <button class="btn btn-secondary btn-sm btn-block dropdown-toggle" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" (click)="isShow = !isShow">
                Расширеный поиск
            </button>

            <div class="collapse col-sm-12" [ngClass]="{'show': isShow}">

                                <label for="geoScale">Географический охват</label>
                                <div class="input-group mb-3">
                                    <select class="form-control" formControlName="geoScale">
                                        <option value="local">Локальный (городской муниципальный)</option>
                                        <option value="region">Региональный (областной, краевой)</option>
                                        <option value="interregional">Межрегиональный (охват 2-х и более регионов)</option>
                                        <option value="federal">Федеральный</option>
                                        <option value="international" >Международный</option>
                                    </select>
                                </div>

            </div>
        </div>
    </form>
</div>