<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" [ngClass]="{'show': isShow}">
  <div class="modal-dialog  modal-lg">
    <!-- modal-dialog-centered -->
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Добавить грант</h4>
        <button type="button" class="close" aria-label="Close" (click)="isShow = false">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <modal-form-app></modal-form-app>
      </div>
    </div>
  </div>
</div>