<div class="container">
  <div class="row">
    <!-- Tryout add-grant BUTTON -->
    <button type="button" class="btn btn-outline-secondary btn-lg btn-block">+ Добавить грант</button>

    <div class="col-xs-12 col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Название</th>
            <th scope="col">Размер</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let grant of grants" (click)="onClick(grant.name)">
            <td>{{ grant.name }}</td>
            <td>{{ grant.price }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>